﻿@model List<Bestemming>
@using MVCReizen.Models;
@using MVCReizen.Controllers;

@{
    ViewData["Bestemming"] = "Bestemming";
}


<h1> @ViewBag.LandNaam</h1>
@{
    var imagePath = $"~/images/{ViewBag.LandNaam}.png";
}
<img src="@Url.Content(imagePath)" alt="image">
<ul style="align-items:center">
    @foreach (var bestemming in Model)
{
   
    <li><a asp-action="ToonReizen" asp-controller="Bestemming" asp-route-id="@bestemming.Code">@bestemming.Plaats</a></li>
}
</ul>