@model List<Werelddeel>
@using MVCReizen.Models;
@using MVCReizen.Controllers;

@{
    ViewData["Title"] = "Welkompagina";
}
<h1>Werelddelen</h1>
@foreach (var werelddeel in Model)
{
    <p><a asp-action="ToonLanden" asp-route-id="@werelddeel.Id">@werelddeel.Naam</a></p>
}

