@model List<Werelddeel>
@using MVCReizen.Models;
@using MVCReizen.Controllers;

@{
    ViewData["Title"] = "Welkompagina";
}
<h1>Werelddelen</h1>
<ul style="align-items:center">
@foreach (var werelddeel in Model)
{
            <li><a asp-action="ToonLanden" asp-controller="Land" asp-route-id="@werelddeel.Id">@werelddeel.Naam</a></li>
}
</ul>