@model List<Bestemming>
@using MVCReizen.Models;
@using MVCReizen.Controllers;

@{
    ViewData["Bestemming"] = "Bestemming";
}
<h1>Land</h1>

<img src="~/images/.jpg" alt="image">
@foreach (var bestemming in Model)
{
   
    <p><a asp-action="ToonReizen" asp-route-id="@bestemming.Landid">@bestemming.Plaats</a></p>
}
