@model List<Bestemming>
@using MVCReizen.Models;
@using MVCReizen.Controllers;

@{
    ViewData["Bestemming"] = "Bestemming";
}


<h1> @ViewBag.LandNaam</h1>
@{
    var imagePath = $"~/images/{ViewBag.LandNaam}.png";
}
<img src="@Url.Content(imagePath)" alt="image">

@foreach (var bestemming in Model)
{
   
    <p><a asp-action="ToonReizen" asp-route-id="@bestemming.Code">@bestemming.Plaats</a></p>
}
