@model List<Land>
@using MVCReizen.Models;
@using MVCReizen.Controllers;

@{
    ViewData["Landen"] = "Landen";
}
<h1>Werelddeel</h1>
@foreach (var land in Model)
{
    <p><a asp-action="ToonBestemmingen" asp-route-id="@land.Id">@land.Naam</a></p>
}
