@model List<Land>
@using MVCReizen.Models;
@using MVCReizen.Controllers;

@{
    ViewData["Landen"] = "Landen";
}
<h1>wereldeel</h1>
@foreach (var land in Model)
{
    <p><a asp-action="ToonBestemmingen">@land.Naam</a></p>
}
