@model List<Bestemming>
@using MVCReizen.Models;
@using MVCReizen.Controllers;

@{
    ViewData["Bestemming"] = "Bestemming";
}


<h1> @ViewBag.LandNaam</h1>
<img src="~/images/Argentinië.png" alt="image">

@foreach (var bestemming in Model)
{
   
    <p><a asp-action="ToonReizen" asp-route-id="@bestemming.Landid">@bestemming.Plaats</a></p>
}
