@model List<Bestemming>
@using MVCReizen.Models;
@using MVCReizen.Controllers;

@{
    ViewData["Bestemming"] = "Bestemming";
}
<h1>wereldeel</h1>
<img src="~/images/.jpg" alt="Obraz">
@foreach (var bestemming in Model)
{
    <p><a asp-action="ToonReizen">@bestemming.Plaats</a></p>
}
