@model List<Land>
@using MVCReizen.Models;
@using MVCReizen.Controllers;

@{
    ViewData["Landen"] = "Landen";
}
<h1>@ViewBag.WerelddeelNaam</h1>
<ul style="align-items:center">
@foreach (var land in Model)
{
   
    <li><a asp-action="ToonBestemmingen" asp-route-id="@land.Id">@land.Naam</a></li>
}
</ul>