@model Reis;
@using MVCReizen.Models;
@using MVCReizen.Controllers;
@{
    ViewData["Titel"] = "ZoekKlant";
}

<p>Besteming</p>
<p>@Model.Bestemmingscode</p>
<p> </p>
<p>Vertrek</p>
<p>@Model.Vertrek</p>
<p> </p>
<p>Aantal dagen</p>
<p>@Model.AantalDagen</p>
<p> </p>
<p>Prijs per persoon</p>
<p>@Model.PrijsPerPersoon</p>



